<html>
<head>
<title>EVIDENCE project: Digital Forensics Tools Catalogue - Editor</title>
<link rel="stylesheet" href="../scripts/dfte.css" type="text/css"> 
</head>
<body class=dftText>
<a target="Evidence web site" href="http;//evidenceproject.eu">
<img div="logo" src="../images/dfte.evidence.logo.png" alt="EVIDENCE project" border="0" />
</a>
<p class=dftPulsanti>Digital Forensic Tools Catalogue - Editor</p>

<p class=dftText>The Editor has been structured in three main parts:</p>

<ul>
<li><span class=dftTextGrassetto> Login</li>
<li><span class=dftTextGrassetto> Editing: Updating and Adding new tools</li>
<li><span class=dftTextGrassetto> Approval</li>
</ul>

<h2 class=dftEnfasi5>LOGIN</h2>

<p class=dftText>
The editing of the Catalogue is allowed only to registered users. The registration is free but it will be evaluated by the Catalogue Administrators and only after their approval it will be possible to enter the Editor environment.<br/>

After the registration, the new user will see a message explaining the approval process: his/her request is sent, by email, to the Administrators and if they will approve the request they will receive the confirmation and from that point on they will gain access to the Catalogue, through their credentials, and could provide their contribution to its updating and widening.
</p>

<h2 class=dftEnfasi5>EDITING</h2>

<p class=dftText>The Editing is carried out in two ways:</p>
<ul>
<li>
<span class=dftTextGrassetto> UPDATING</span>
The process consists of preparing a query over the Catalogue for searching  a group of tools. This facility is provided in a similar way to the Catalogue browsing interface. After having extracted the list of tools, it will be possible to edit a specific tool, activating the corresponding link on the icon <img src=../images/dfte.edit.png /> put next to the toll name.<br/>
When, next to the tool name, there is the icon  <img src=../images/dfte.edit.disabled.png /> the tools is not editable because it has already modified by another user and the choangin proposal is still pending, that is the Admministrators have not approved it yet. <br/>

If the link is active and it is triggered, it opens the editing form showing all the fields filled with the related tool's values. The Editing process also allows the assignment of a different Category/Features to the tool current value. Nevertheless the program carries out a coherent check: if the tool has already some Features in the selected Category the assignment will be banned because for this updating it will be mandatory to search the Tool in that Category and select it for the editing. 
The fields Test Reports and Useful References are defined as multiple values: each single tool may have more than one value. Each value is formed by a couple of data: an Url address and a Note. Each value can be added to the list using the Url and Note edit text and the Button <img valig=center src=../images/dfte.plus.png><br/>
 It is also possible select a value (Url + Note) from the list for its editing or for cancel it by using the button <img src=../images/dfte.minus.png><br/>
</li>
<li>
<span class=dftTextGrassetto> NEW TOOL</span>
To introduce a new tool in the Catalogue the "+ Tool button <img src=../images/dfte.button.add.tool.png> must be used. When a user press the New Tool button the system opens the editing form showing all  fields set to blank. The editing mode is similar to the previous  UPDATING process.
</li>
</ul>
Each time an user introduces an amendment (updating or widening) the Administrator will receive an email about the operation carried out.

<h2 class=dftEnfasi5>APPROVAL</h2>
The approval process can be carried out only by users who play the role of Administrators. For these users in the top left corner the Approval link will be visible. Activating this link the system shows a list of pending updating, using the following icons:

<ul>
<li><img src=../images/dfte.confirm.png /> Tool in update status
<lI><img src=../images/dfte.add.png /> Tool in adding status
</ul>

The user Administrator can approve a single modification or use the Approve All button to confirm all the pending amendments.<br/><br/>

After the approval process, each user will receive an email of the accepted amendments who suggested.
</body>
</hrml>
